<?xml version='1.0' encoding='UTF-8'?>
<Wix
  xmlns='http://wixtoolset.org/schemas/v4/wxs'
  xmlns:ui='http://wixtoolset.org/schemas/v4/wxs/ui'>
  <Package
    Name='Rust Image Viewer'
    Manufacturer='cosmokud'
    Version='$(var.ProductVersion)'
    UpgradeCode='3F8BFA13-5D50-4AD4-BDE3-D6A266DB3E5A'
    InstallerVersion='500'
    Scope='perUser'
    Compressed='yes'
    Language='1033'>

    <MajorUpgrade
      DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.' />

    <MediaTemplate EmbedCab='yes' CompressionLevel='high' />

    <Property Id='ARPHELPLINK' Value='https://github.com/cosmokud/rust-image-viewer' />

    <StandardDirectory Id='AppDataFolder'>
      <Directory Id='INSTALLFOLDER' Name='rust-image-viewer' />
    </StandardDirectory>

    <Feature
      Id='MainFeature'
      Title='Rust Image Viewer'
      Description='Installs Rust Image Viewer and bundled GStreamer runtime.'
      Level='1'
      ConfigurableDirectory='INSTALLFOLDER'
      AllowAdvertise='no'
      Display='expand'>
      <ComponentGroupRef Id='HarvestedPayloadGroup' />
    </Feature>

    <ui:WixUI Id='WixUI_Minimal' />

    <SetProperty Id='ARPINSTALLLOCATION' Value='[INSTALLFOLDER]' After='CostFinalize' />
  </Package>

  <Fragment>
    <ComponentGroup Id='HarvestedPayloadGroup' Directory='INSTALLFOLDER'>
      <Files Include='$(var.PayloadDir)\**' />
    </ComponentGroup>
  </Fragment>
</Wix>
